In [5]:
%load_ext autoreload
%autoreload 2

import joblib
from datetime import datetime
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.2f' % x)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Introduction

The objective of this notebook is to create the file submission of the SLICED s01e11 challenge. The final scores are shown at the end

## Prepare submission

In [10]:
df_test = pd.read_csv('../data/raw/test.csv')

In [12]:
rf = joblib.load('../models/rf_nestimators_50_maxdepth_12_minsamplessplit_15.bin')
label_encoder = joblib.load('../models/label_encoder.bin')
important_features = joblib.load('../data/processed/important_features.bin')

In [14]:
df_test['yearOld'] = datetime.now().year - df_test['yearBuilt']
X_test_sub = df_test[important_features].copy()

In [15]:
submission = pd.DataFrame(rf.predict_proba(X_test_sub), index= df_test.index, columns=rf.classes_)
submission.columns = label_encoder.inverse_transform(submission.columns)
submission

      0-250000  250000-350000  350000-450000  450000-650000  650000+
0         0.84           0.15           0.01           0.00     0.00
1         0.20           0.26           0.21           0.22     0.12
2         0.20           0.41           0.31           0.07     0.01
3         0.00           0.05           0.30           0.57     0.08
4         0.09           0.20           0.45           0.19     0.07
...        ...            ...            ...            ...      ...
4956      0.31           0.50           0.17           0.02     0.00
4957      0.11           0.31           0.46           0.11     0.02
4958      0.52           0.43           0.05           0.00     0.00
4959      0.15           0.49           0.31           0.04     0.00
4960      0.02           0.13           0.54           0.30     0.01

[4961 rows x 5 columns]

In [16]:
submission.to_csv('../data/external/submission.csv')

These were the scores got from Kaggle
</br>Score: 0.96118
</br>Public score: 0.95208